
*{
    margin:0;
    padding:0;
}
body{
    transition:all 0.4s;
}

.mots{
    margin-top:150px;
    width:80%;
    height:50px;
    z-index:-1;
    position:relative;
    margin-left:10px;
}
.mots::before{
    width:100%;
    height:4px;
    position:absolute;
    bottom:0px;
    content:"";
    background-color: aliceblue;
    margin-left:10px;
    z-index:-1;
}
.mots h3{
    font-family: sans-serif;
    color:#55B364;
    font-size:25px;
}
.mot_fondateur{
    display:flex;
    justify-content: space-evenly;
    align-items:top;
    margin-top:50px;
    
}
.mot_fondateur .bloc-phrase{
    width:50%;
    border-top:solid #869a88 4px;
    border-bottom: solid #869a88 4px;
}
.mot_fondateur .bloc-phrase p{
    margin:3px;
    padding:5px;
    font-family: sans-serif;
    font-size:20px;
}
.mot_fondateur .bloc-phrase p .site{
    font-weight: bold;
}
.mot_fondateur .mot_photo h3{
    text-align: center;
    font-family: sans-serif;
    color:brown;

}
.mot_fondateur .mot_photo img{
    width:300px;
   
}
.mot_fondateur .mot_photo{
    border:solid #869a88 6px;
}


@media screen and (max-width:700px){
    .mots h3{
        font-size: 22px;

    }

    .mot_fondateur{
        flex-wrap:wrap;
    }
    .mot_fondateur .bloc-phrase{
        width:85%;
    }
    .mot_fondateur .mot_photo img{
        width:100%;
    }
    .mot_fondateur .mot_photo{
        margin-top:30px;
        width:80%;
    }

    .mots{
        margin-top:200px;
    }
}